.App-header {
  background: linear-gradient(45deg, rgba(0, 13, 173, 0.72) 20%, rgba(132, 36, 150, 0.72) 90%);
  height: 100px;
  padding: 20px;
  color: white;
  display: table;
}

.App-intro {
  font-size: large;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.logo-container{
    display: table-cell;
}

.middle-align{
    display: table-cell;
    text-align: center;
    width: 100%;
}

.title{
    font-weight: lighter;
}

.navigation-container{
    display: block;
}

ul.account-settings{
    display: table;
}

li.li-settings{
    display: table-cell;
}

div.div-settings{
    margin: 0 10px 0 10px;
    white-space: nowrap;
}

a.a-settings{
    color: white;
    cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
