#landing {
    background-repeat: no-repeat;
	background: url('/alaska.jpg');
	background-size: cover;
    height: 100vh;
}

.login-box
{
   background-color: rgba(230,255,255, .6);
   position: absolute;
   bottom: 50%;
   border: solid;
   border-width: thin;
   border-color: lightgrey;
   padding: 10px 10px 10px 10px;
   text-align: center;
   width: 80%;
   /*height: 20%;*/
   left: 10%;
}

h1, h2 {
    font-family: cursive;
}
