body{
    background-color: white;
}

.gutter-0.row{
    margin-right: 0;
    margin-left: 0;
}

.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"] {
    padding-left: 0;
    padding-right: 0;
}

img {
    width: 100%;
}

.card {
    height: 300px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
}

.create-plus{
    font-size: 135px;
    text-align: center;
}
