.gutter-0.row{
    margin-right: 0;
    margin-left: 0;
}

.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"] {
    padding-left: 0;
    padding-right: 0;
}

img {
    width: 100%;
}

.card {
    height: 300px;
    border: 2px solid lightgrey;
    margin: 20px;
}

img.card-img-top{
    height: 200px;
    object-fit: cover;
}
